{% extends 'base.html' %}
{% load staticfiles %}

{%block title%}Consultar Producto{%endblock%}

{%block content%}
<div class="row">
        <div class="col-xs-12">
          <div class="card bar radius">
            <h1>Producto</h1>
            <br>
            <br>
            <form>
              <fieldset>
                <div class="form-group">
                  <div class="radio"> 
                    <label>  
                    <input type="radio" name="option" id="codigo-option" value="ced" checked>Codigo
                    </label>
                  </div>
                  <input type="number" name="codigo" class="form-control" id="codigo"></input>
                  <br>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <div class="radio">
                    <label>
                    <input type="radio" name="option" id="nombre-option" value="nom">
                    Nombre</label>
                  </div>
                  
                  <input type="text" class="form-control disabled" name="nombre" ></input>
                </div>
              </fieldset>
              <button type="submit" id="submit-btn" class="btn btn-card center aqua-blue">Entrar</button>
            </form>
          </div>
        </div>
      </div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Precio Venta</th>
        </tr>
      </thead>
      <tbody id="table-body">
        
      </tbody>
    </table>
  </div>

</div>

<script type="text/javascript" src="{% static 'js/consultar_producto.js' %}"></script>

{%endblock%}
