{% extends 'base.html' %}
{% load staticfiles %}

{%block title%}Consultar Factura{%endblock%}

{%block content%}

      <div class="row">
        <div class="col-xs-12">
          <div class="card bar radius">
            <h1>Consulta Factura</h1>
            <br>
            <br>
            <form>
              <fieldset>
                <div class="form-group">
                  <div class="radio"> 
                    <label>  
                    <input type="radio" name="option" id="codigo-option" value="fecha" checked>Fecha
                    </label>
                  </div>
                  <input type="number" class="form-control" id="fecha"></input>
                  <br>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <div class="radio">
                    <label>
                    <input type="radio" name="option" id="nombre-option" value="cliente">
                    Cliente</label>
                  </div>
                  
                  <input type="text" class="form-control disabled" id="cliente" ></input>
                </div>
              </fieldset>
              <button type="submit" class="btn btn-card center aqua-blue">Consulta</button>
            </form>
          </div>
        </div>
      </div>
	  
{%endblock%}
