{% extends 'base.html' %}
{%load staticfiles%}

{%block title%}Generar Reporte{%endblock%}

{% block content %}
      <div class="row">
        <div class="col-xs-12">
          <div class="card bar radius">
            <h1>Generar Reporte</h1>
            <br>
            <br>
            <form>
              <fieldset>
                <div class="form-group">
                  <div class="radio"> 
                    <label>  
                    <input type="radio" name="option" id="codigo-option" value="diario" checked>Diario
                    </label>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <div class="radio">
                    <label>
                    <input type="radio" name="option" id="nombre-option" value="mensual">
                    Mensual</label>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <div class="radio">
                    <label>
                    <input type="radio" name="option" id="nombre-option" value="anual">
                    Anual</label>
                  </div>
                </div>
              </fieldset>			  
              <button type="submit" class="btn btn-card center aqua-blue">Generar</button>
            </form>
          </div>
        </div>
      </div>
	  
{%endblock%}