{% extends 'base.html' %}
{%load staticfiles%}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/panels.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/flip.css' %}">


<div class="jumbotron text-center">
    <h1>Sistema de Inventario</h1>
</div>

<div class="row">
    <div class="col-sm-3 col-xs-12">
      <div class="flip-container">
        <div class="flipper">
          <div class="front">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>Producto</h1>
              </div>
              <div class="panel-body">
                <br><br>
                <span class="glyphicon glyphicon-tags logo"></span>
              </div>
              <div class="panel-footer">
                <button class="btn-card btn-lg teal-green btn-for-flipping">Ver</button>
              </div>
            </div>
          </div>
            <div class="back">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <h1>Producto</h1>
                </div>
                <div class="panel-body">
                  <ul>
                    <li><a href="{% url 'consultar_producto' %}">Consulta</a></li>
                    <li><a href="{% url 'registrar_producto' %}">Registrar</a></li>
                  </ul>
                </div>
                <div class="panel-footer text-center">
                  <button class="btn-card btn-lg teal-green btn-for-flipping">Volver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    <div class="col-sm-3 col-xs-12">
      <div class="flip-container">
        <div class="flipper">
          <div class="front">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>Cliente</h1>
              </div>
              <div class="panel-body"><br><br>
            <span class="glyphicon glyphicon-user logo"></span>
              </div>
              <div class="panel-footer">
                <button class="btn-card btn-lg teal-green btn-for-flipping">Ver</button>
              </div>
            </div>
          </div>
            <div class="back">
              <div class="panel panel-default ">
                <div class="panel-heading text-center">
                  <h1>Cliente</h1>
                </div>
                <div class="panel-body">
                  <ul>
                    <li><a href="{% url 'consultar_cliente' %}">Consulta</a></li>
                    <li><a href="{% url 'registrar_usuario' %}">Registrar Cliente</a></li>
                  </ul>
                </div>
                <div class="panel-footer text-center">
                  <button class="btn-card btn-lg teal-green btn-for-flipping">Volver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-sm-3 col-xs-12">
      <div class="flip-container">
        <div class="flipper">
          <div class="front">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>Factura</h1>
              </div>
              <div class="panel-body"><br><br>
                <span class="glyphicon glyphicon-shopping-cart logo"></span>
              </div>
              <div class="panel-footer">
                <button class="btn-card btn-lg teal-green btn-for-flipping">Ver</button>
              </div>
            </div>
          </div>
            <div class="back">
              <div class="panel panel-default ">
                <div class="panel-heading text-center">
                  <h1>Factura</h1>
                </div>
                <div class="panel-body">
                  <ul>
                    <li><a href="{% url 'consultar_factura' %}">Consulta</a></li>
                    <li><a href="{% url 'generar_factura' %}">Generar Factura</a></li>
                  </ul>
                </div>
                <div class="panel-footer text-center">
                  <button class="btn-card btn-lg teal-green btn-for-flipping">Volver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-sm-3 col-xs-12">
      <div class="flip-container">
        <div class="flipper">
          <div class="front">
            <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Reporte</h1>
        </div>
        <div class="panel-body"><br><br>
      <span class="glyphicon glyphicon-open-file logo"></span>
        </div>
        <div class="panel-footer">

          <button class="btn-card btn-lg teal-green btn-for-flipping">Ver</button>
        </div>
      </div>      
          </div>
            <div class="back">
              <div class="panel panel-default ">
                <div class="panel-heading text-center">
                  <h1>Reporte</h1>
                </div>
                <div class="panel-body">
                  <ul>
                    <li><a href="{% url 'generar_reporte' %}">Generar</a></li>
                    
                  </ul>
                </div>
                <div class="panel-footer text-center">
                  <button class="btn-card btn-lg teal-green btn-for-flipping">Volver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {%if administrador%}
      <div class="col-sm-3 col-xs-12">
      <div class="flip-container">
        <div class="flipper">
          <div class="front">
            <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Herramientas</h3>
        </div>
        <div class="panel-body text-center"><br><br>
      <span class="glyphicon glyphicon-wrench logo"></span>
        </div>
        <div class="panel-footer">
          <button class="btn-card btn-lg teal-green btn-for-flipping">Ver</button>
        </div>
      </div>      
          </div>
            <div class="back">
              <div class="panel panel-default ">
                <div class="panel-heading text-center">
                  <h3>Herramientas</h3>
                </div>
                <div class="panel-body">
                  <ul>
                    <li><a href="/admin">Panel de Herramientas</a></li>
                    <li><a href="{% url 'registrar_empleado' %}">Registrar Empleado</a></li>
                    
                  </ul>
                </div>
                <div class="panel-footer text-center">
                  <button class="btn-card btn-lg teal-green btn-for-flipping">Volver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {%endif%}
      
    </div>

<script type="text/javascript" src="{% static 'js/flip.js' %}"></script>
{%endblock%}



