{% extends 'base.html'%}
{% load staticfiles %}

{%block title%}Registrar Cliente{%endblock%}

{%block content%}
    <h1 align="center">Registrar Usuario</h1>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <table align="center" class="table table-bordered">
	<form id="data">
    	<tr>
        	<td>Nombre:</td>
        	<td><input type="text" class="form-control" id="nombre" maxlength="30" size="32"/></td>
        </tr>
        <tr>
        	<td>Apellido:</td>
            <td><input type="text" class="form-control" id="apellido" maxlength="25" size="30"/></td>  
        </tr>  
        <tr>
        	<td>Nombre de usuario:</td>
        	<td><input type="text" class="form-control" id="nombre" maxlength="30" size="32"/></td>
        </tr>    
    	<tr>
        	<td>Contraseña:</td>
        	<td><input type="password" class="form-control" id="clave" size="20"/></td>
        </tr>
		<tr>
        	<td>Confirmar Contraseña:</td>
            <td><input type="password" class="form-control" id="cclave" size="20"/></td> 	
        </tr>
        <tr>
        	<td>Teléfono:</td>
            <td><input type="tel" class="form-control" id="telefono" size="14" maxlength="12" placeholder="Ej: 04xx-xxxxxxx"/></td>
        </tr>
        <tr>
        	<td>Fecha de Naacimiento</td>
            <td><input type="date" class="form-control" name="cumpleanios" step="1" min="1950-01-01" max="2013-12-31" value="2013-01-01">
</td>
        </tr>
        <tr>
        	<td>Email:</td>
        	<td><input type="email" class="form-control" id="email" size="35" required placeholder="Escriba su email aqui!!"></td>
        </tr>
        <tr>
        	<td>Sexo:</td>
            <td>
            	<select id="Sexo">
                 <option id="Masculino" value="Masculino">Masculino</option>
                 <option id="Femenino" value="Femenino">Femenino</option>	
              </select>
            </td>
        </tr>
        
       
       <tr><td colspan="2" class="text-center"><input  type="reset" class="btn-card teal-green" id="enviar" value="Registar" /></td></tr>
  	
    </form>
</table>

{%endblock%}

